<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Routine_Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="angular.min.js"></script>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="customersCtrl">  
            <div id="demo"> <h2>Routine Dashboard</h2></div>
            <div class="col-sm-12">
            
                <button style="margin-left:10%" ng-click="deleteBridge();" class="btn btn-default">clearBridge</button><br><br>
                <button style="margin-left:10%" ng-click="deleteLocal();" class="btn btn-default">LocalRest</button><br><br>
                <button style="margin-left:10%" ng-click="Userrest();" class="btn btn-default">UserRest</button><br>
        </div>
        </div>
    </body>
</html>
