.orange {                     /*Station Name */
    color: orange;
}
.red {
    color: red;
}
.green {
    color: green;
    background-color: green;
}
.blue {
    color: blue;
}
.black {
    color:  black;
}

.panel-heading{
    padding-left: 20%;
    padding-bottom:1%;
    padding-top: 1%;
    font-size: 120%;
    color: white;
    alignment-adjust:middle;
}
.panel-heading2{
    background-color:skyblue;
    padding-left: 35%;
    padding-bottom: 1%;
    padding-top: 1%;
    color: white;
}
#demo{
     padding-left: 40%;
     font-size: 20px;
}
th{
    padding-left: 5%;
}
td{
    padding-left: 5%;
}
.orange {                     /*Station Name */
/*    background-color: orange;*/
    color:blue;
}
.red {
/*    background-color: red;*/
   color:red;
}

.green {
/*    background-color: green;*/
    color:green;
}